<div class="form-group">
    <div class="row">
        <div class="col-md-3">
            <label for="personFirstName">
                Förnamn
            </label>
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" id="personFirstName" ng-model="person.personFirstName">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label for="personLastName">
                Efternamn
            </label>
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" id="personLastName" ng-model="person.personLastName">
        </div>
    </div>
</div>
