
<div class="navigation">
    <div class="clearfix visible-xs"></div>
    <button type="button"
            id="goBackBtn"
            class="btn btn-default btn-navigation btn-navigation-rew col-md-offset-2"
            ng-click="prevStep();"
            ng-hide="hideBackButton">
        Tillbaka
    </button>
    <button type="submit"
            id="continueBtn"
            class="btn btn-primary btn-navigation btn-navigation-fww col-md-offset-6"
            ng-click="nextStep();"
            ng-hide="hideNextButton"
            >Nästa
    </button>


    <div class="clearfix visible-xs"></div>

</div>
